<!doctype html>
<html>
    <head>
        <title>full doc</title>
    </head>
    <body>
      <p>Hello {{firstName}} and bad day!</p>
      <p>HELLO!!! {{capitals firstName}}</p>
      <b>Tag like bawsserrddjntyyb</b>
      {{# singleRowCell}}
        {{# boldHelper}}{{a}}{{/ boldHelper}}
      {{/ singleRowCell}}
    </body>
</html>
