<!doctype html>
<html>
    <head>
        <title>full doc</title>
    </head>
    <body>
      <p>Hello {{firstName}}</p>
      <p>HELLO! {{capitals firstName}}</p>
      <b>Tag like bawsserrddjntyyb</b>
      {{> singleRowCell}}
      {{#noop}}<b>contenido<b>{{/noop}}

      <br>
      {{#table-center-cell}}<i>contenido celda</i>{{/table-center-cell}}
    </body>
</html>
